<%- include('partials/head') %>
        
        <%-include('partials/navbar')%>

        <h1><%="The Home Page".toUpperCase()%></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ea tempore tenetur accusantium praesentium accusamus. Voluptatibus non fugit accusantium, vero quaerat, repellendus rem nihil reprehenderit voluptate cumque error molestias ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore assumenda, unde similique qui expedita exercitationem, optio porro nisi pariatur, omnis dolor ducimus vitae mollitia perferendis odio perspiciatis sequi velit enim.</p>

        <script src="" async defer></script>
<%-include('partials/footer')%>
