<%- include('partials/head') %>

        <%-include('partials/navbar')%>

        <h1>Your request for the <%= subreddit %> Subreddit could not be found</h1>
        
        <script src="" async defer></script>
        
<%-include('partials/footer')%>